<div class="col-md-12">
  <h1>Create a Profile</h1>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    {{!-- Create Profile Form --}}
    {{#if profile}}
    <form action="/profiles/update?_method=PUT" method="post">
      <input type="hidden" name="_method" value="PUT">
      <div class="form-group">
        <input type="text" name="handle" class="form-control" id="handle" placeholder="Nickname"
          value={{profile.handle}}>
      </div>
      <div class="form-group">
        <input type="text" name="title" class="form-control" id="title" placeholder="Job Title" value={{profile.title}}>
      </div>
      <button type="submit" class="btn btn-light">Submit</button>
    </form>
    {{else}}
    <form action="/profiles/add" method="post">
      <div class="form-group">
        <input type="text" name="handle" class="form-control" id="handle" placeholder="Nickname"
          value={{profile.handle}}>
      </div>
      <div class="form-group">
        <input type="text" name="title" class="form-control" id="title" placeholder="Job Title" value={{profile.title}}>
      </div>
      <button type="submit" class="btn btn-light">Submit</button>
    </form>
    {{/if}}
  </div>
</div>