<div class="container">
  <div class="jumbotron bg-secondary">
    <div class="row mt-4 align-items-center justify-content-around">
      {{#each profile}}
      {{!-- List of each roster --}}
      <div class="col-md-4">
        <div class="card text-white bg-warning mb-3 shadow-lg" style="max-width: 18rem;">
          <div class="card-header text-center">{{title}}</div>
          <div class="card-body">
            <h5 class="card-title">Created By: {{user.firstName}}, {{user.lastName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Last Edited: {{formatDate date 'MMMM Do YYYY'}}</h6>
            <div class="row justify-content-around">
              <form action="/products/roster/{{id}}?_method=DELETE" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger btn-block print-hidden">
                  Delete</button>
              </form>
              {{#roster}}
              <a href="/profiles/findRoster/{{id}}" class="btn btn-success">View Roster</a>
              {{/roster}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>