{{!-- User dashboard landing page --}}
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card cardbody bg-secondary m-2">
      <div class="row">
        {{!-- Dashboard Title --}}
        <div class="col-md-12 text-center">
          <h2 class="display-4 text-white">Dashboard</h2>
        </div>
        {{!-- User card info message --}}
        <div class="col-md-5">
          <div class="card bg-info text-white m-2">
            <div class="card-header text-center">
              <h3>Name: {{user.firstName}}</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Email: {{user.email}}</h5>
              <p class="card-text">This message was tailored specifically to you, {{user.firstName}}. We think you're
                awesome
                and want to thank you for supporting the team!</p>
              <div class="row justify-content-center">
                <a href="/profiles/edit/{{user.id}}" class="btn btn-light">Edit Profile</a>
              </div>
            </div>
          </div>
        </div>
        {{!-- Jumbotron landing --}}
        <div class="col-md-7">
          <div class="jumbotron bg-info text-center text-white">
            {{#if profile}}
            {{#profile}}
            <p class="lead">
              <span class="font-weight-bold">Hey, {{handle}}!</span>
            </p>
            {{/profile}}
            {{/if}}
            <p class="lead">Welcome to your personalized dashboard. Edit your profile or start making rosters!</p>
            {{!-- Create Roster Link --}}
            <form action="/students/new" method="post">
              <div class="form-row justify-content-center">
                <div class="col-md-6">
                  <input type="text" name="classroom" class="form-control" placeholder="Class Title">
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Roster Titles --}}
{{!-- Display tiles if user has created a roster --}}

{{> rostertiles}}