<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <span class="text-danger">{{errors}}</span>
    </div>
    <div class="col-sm-12 col-md-6 mx-auto">
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control mb-2" name="firstName" value={{firstName}}>
          <label for="name">Last Name</label>
          <input type="text" class="form-control mb-2" name="lastName" value={{lastName}}>
          <label for="email">Email</label>
          <input type="email" required class="form-control mb-2" name="email" value={{email}}>
          <label for="password">Password</label>
          <input type="password" class="form-control mb-2" name="password" value={{password}}>
          <button type="submit" class="btn btn-default btn-block mt-4">Create An Account</button>
      </form>
    </div>
  </div>
</div>